.new-review {
  padding-top: 10px;
}

.review-container {
  background-color: rgba(255,255,255,0.5);
  max-width: 800px;
  margin: 24px auto;
  padding: 24px 32px;
  word-break: break-word;
}

.review {
  margin: 0;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.review i {
  font-size: 10px;
  vertical-align: super;
  color: rgba(0, 0, 0, 0.7)
}

.reviews-form {
  max-width: 800px;
  margin: 24px auto;
}
