.new-review {
  padding-top: 10px;
}

.reviews {
  list-style-type: none;
  background-color: rgba(255,255,255,0.5);
  max-width: 960px;
  margin: 24px auto;
  display: block;
  padding: 16px;
  border-radius: 8px;
}

.reviews-form {
  max-width: 960px;
  margin: 24px auto;
}
